@media (prefers-color-scheme: light) {
    :root{
        --transbg: #f8fcff33;
    }

    body{background-color:#f8fcff}
}

@media (prefers-color-scheme: dark) {
    :root{
        --transbg: #0001;
    }
}


button{color:black;border:none;padding:1em;border-radius:1em;margin:0;cursor:pointer;font-size:13.25px}
select, #myInput, input{transition-duration:0.1s;color: black; font-size: 16px; border: 0.1em solid rgba(128,128,128,.2); background: white; box-shadow:0 0.25em 0.5em rgba(0,0,0,.1); text-overflow: ellipsis; padding: 0.675em 0.75em; flex-grow: 1; border-radius: 0.675em; max-width: 100%}
select, #myInput, input:not([type=text]):not([type=search]){cursor: pointer}
input[type=search]{box-shadow:none}
select:hover, select:focus, input:not([type=search]):hover, input:not([type=search]):focus, .ugpgbox:hover, .ugpgbox:focus{box-shadow:0 0.25em 0.5em rgba(0,0,0,.15)}
input:read-only, input:read-only:hover, input:read-only:focus{background-color:transparent;box-shadow:none;cursor:default;outline:none}

.searchimg{max-height:10em;width:100%;max-width:10em;aspect-ratio:1;object-fit:contain;user-select:none}
#digsrtxt {display:none!important}
#digbtn, #digbtn form, #digbtn form input, #digsrtxt, #fdigbtn, #mdigbtn, #mdigbtn form, #mdigbtn form input{transition-timing-function: cubic-bezier(.77,0,.18,1);transition-duration:0.4s}
#digbtn{border-radius:5em;position:absolute;left:calc(5% + 5em + 16em - 2rem - 0.5em);right:calc(100% - 5% - 5em - 16em - 0.5em);padding:0.5em 0 0.5em 1em}
#digbtn img, #fdigbtn img, #mdigbtn img{vertical-align:middle;object-fit:contain;width:2rem;height:2rem;cursor:pointer;user-select:none;-webkit-touch-callout:none}
#digbtn form, #fdigbtn form, #mdigbtn form{display:inline-block;width:0;margin:0}
#digbtn form input, #fdigbtn form input, #mdigbtn form input{outline:none!important;appearance:none;-webkit-appearance:none;padding:0;margin:0;background:none;border:none;height:2rem;margin-left:0.4em;width:calc(100% - 0.4em);font-size:0.85rem}
#fdigbtn, #digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{background:white;box-shadow:0 1.5em 2em rgba(0,0,0,.3);backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em);padding:0.75em;right:calc(5% + 5em + 16em - 2rem - 0.75em);z-index:100000}
#fdigbtn form, #digbtn:hover form, #digbtn:active form, #digbtn:focus form, #digbtn:focus-within form{width:calc(100% - 2rem)}
#mdigbtn form{width:calc(100% - 2rem)}
#fdigbtn{border-radius:5em;box-shadow:0 0.5em 0.75em rgba(0,0,0,.2);margin:0.35em;margin-top:0;position:-webkit-sticky;position:sticky;top:2.3em}
#fdigbtn:active, #fdigbtn:focus, #fdigbtn:focus-within{box-shadow:0 0.75em 1em rgba(0,0,0,.35)}
#mdigbtn{flex-shrink:0;width:calc(10em + 5%)}

.selbox:hover{z-index:3}
.course_sel:hover, .course_sel:focus, .selbox:hover, .selbox:focus{transform:scale(1.005)}
.course_sel:hover:active, .selbox:hover:active{transform:scale(0.99)}
.flxb{flex-flow:wrap;display:flex;justify-content:space-between}
.LR_Right, #iL1{width:calc( 100% - 19em )}
.LR_Left, #iR1{padding:0.5em;pointer-events:none;position:sticky;top:0.75em;left:0;z-index:3;width:17em;overflow-y:auto;height:fit-content}
.LR_Right{height:fit-content;overflow:clip;padding:0}
.LR_Left{overflow-x:hidden;overflow-y:overlay;pointer-events:unset;max-height:calc(95vh - 8em)}
.LR_Left_Content{width:17em}
.ugpgbox{transition-duration:0.1s;box-shadow:0 0.15em 0.3em rgba(0,0,0,.1);padding:0.5em;border-radius:1.5em;background-color:var(--gbw)} .ugpgbox > button {cursor:pointer;padding:0.25em 1em;border-radius:1em;background:var(--bw);transition-duration:0.05s}
#myInput{width:calc(100% - 1.3em);margin-bottom:0.5em;cursor:text;outline:none}
#myDropdown > button {flex-grow:1;border-radius:0;padding:1em}
.course_sel{flex-grow:1;max-width:calc(50% - 1em);padding:0;page-break-inside:avoid;position:relative;text-align:left;font-size:16px}
.course_sel:hover, .course_sel:focus{transform:scale(1.01)}
.course_sel:hover:active{transform:scale(0.9875)}
.course_sel, .picbox_inner{min-height:8.5em;min-width:15em}
.course_sel > img, .course_sel > .picbox_inner_blocked, .course_sel > .picbox_inner_locked, .course_sel > .picbox_inner_success {object-fit:cover;position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;border-radius:1em}
.picbox_inner{color:white;align-items:flex-end;position:relative;background-color: rgba(0,0,0,.7); background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.6) 50%, rgba(0,0,0,.75) 100%); padding: 1em; border-radius: 1em}
.picbox_inner_up{position: absolute; top: 0.675em; right: 0.675em; left: 0.675em}
.picbox_inner_up > h5:not(.textbox) {margin-right: 0.325em}
.picbox_inner_blocked, .picbox_inner_locked, .picbox_inner_success {padding: 0;justify-content: center; align-items: center}
.picbox_inner_blocked {background: #f885}
.picbox_inner_locked {background: #ff87}
.picbox_inner_success {background: #8f85}
.titlecard_titleblock{display:block}
.box-dash{border-top:0.15em dotted #8884;margin:0.5em 0}
.boxcolor-green > .box-dash{border-color:#084c}
.boxcolor-green > h4, .boxcolor-green > h5 {color:#042}
.requirement-showbtn-green{padding:0.5em 1.25em;border-radius:2em;margin-top:0.75em;border:2px solid #8fcc; background-color: #8fc8; color:#021; transition-duration: 0.1s;}
.requirement-showbtn-green:hover{background-color: #8fcc}
.requirement-showbtn-green:hover:active{transform:scale(0.95)}
#EXCLUSION .boxcolor-green {
    border: 2px solid #e45c;
    background-color: #e452;
}
#EXCLUSION .boxcolor-green > .box-dash{border-color:#802c}
#EXCLUSION .boxcolor-green > h4, #EXCLUSION .boxcolor-green > h5 {color:#401}

.courses_specific_close {position:sticky;top:1.5em;top:calc(1.5em + env(safe-area-inset-top));text-align:right;padding-right:calc(5% + 2em);padding-right:calc(5% + 2em + env(safe-area-inset-right));z-index:10000}
.courses_specific_close > button {padding:0;margin:0;border:none;border-radius:50%;transition-duration:0.05s;background:rgba(128,128,128,.25);opacity:0.8}
.courses_specific_close > button:hover {background:rgba(128,128,128,.5);opacity:1}
.courses_specific_close > button:hover:active {transform:scale(0.9)}
.courses_specific_close > button, .courses_specific_close > button > img {width:3em;height:3em}

.closebtn, .closebtn > img {width:2.5em;height:2.5em;padding:0;margin:0;border:none;border-radius:50%;transition-duration:0.05s}
.closebtn:hover:active {transform:scale(0.9)}

.dpv_ytemb{width:min-content;margin:0 1em 0.5em 0;scroll-snap-align:start}
.dpv_carrier{scroll-snap-type:x mandatory;scroll-padding:calc(5% + 5em);padding-top:1em!important;padding-bottom:1.5em!important;overflow-x:auto;flex-flow:row!important;scrollbar-width:thin;scrollbar-color:dark;justify-content:flex-start!important}

.uniroomgrid{display:grid;grid-auto-rows:1fr;grid-auto-columns:1fr;grid-template-columns:auto 1fr}
.uniroomweek{margin:0.5em 0 0.5em 0.675em;padding:0.25em 0.75em;position:sticky;top:0.5em;background-color:var(--bw);z-index:5;height:min-content;width:min-content;border-radius:1em}
.uniroomtime{opacity:0.6;text-align:right;padding-right:1em}

.lessonbox{border:0.1em dotted rgba(128,128,128,.5);padding:1em;border-radius:1em;max-width:100%;word-wrap:break-word}

.chart-container{position: relative; width:100%; height:52.5vh}

.enroll_btn_wrp{gap:0.5em;justify-content:flex-start;align-items:baseline;margin:0 0.25em}
.enroll_btn_wrp > * {width:max-content}
#course_enroll_btn{background-color: #08f3; padding: 0.5em 1.5em; margin: 0; border-radius: 1.5em; transition-duration: 0.1s;}
#course_enroll_btn:hover, #course_enroll_btn:active{background-color: #08f7}
#course_enroll_btn:hover:active{transform:scale(0.925)}

@media (prefers-color-scheme: dark) {
    button{color:#eee;background-color:#3f3c39}
    select, #myInput, input{color:#eee;background:#3f3c39}
    .courses_specific_close > button > img, .closebtn > img{filter:invert(1)}
    .boxcolor-green > h4, .boxcolor-green > h5 {color:#ddfff6}
    .requirement-showbtn-green{border: 2px solid #8fc9; background-color: #8fc4; color: #ddfff6;}
    #EXCLUSION .boxcolor-green > .box-dash{border-color:#ffddf6cc}
    #EXCLUSION .boxcolor-green > h4, #EXCLUSION .boxcolor-green > h5 {color:#ffddf6}

    #fdigbtn, #digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within{background:#2c2c34}
}

@media (max-width:1280px) {
    .uniroomweek span {display:none}
    .dpv_carrier{scroll-padding:calc(16px + 1em)}
    .courses_specific_close{top:1.25em;top:calc(1.25em + env(safe-area-inset-top));padding-right:1.25em;padding-right:calc(1.25em + env(safe-area-inset-right))}
    .LR_Left, #iR1{top:0.5em}
}

@media (max-width:1020px) {
    .LR_Right, #iL1{margin-left:0;margin-right:0} .LR_Left, #iR1, .LR_Right, #iL1{width:100%}
    .LR_Left, #iR1{position:initial;height:auto;padding:0}
    .chart-container{width:100%; height:55vh}
    .course_sel, .picbox_inner{min-height:8em}
    .course_sel{max-width:unset}
    .LR_Left{max-height:unset}
    .LR_Left_Content{width:100%}
}

@media (max-width:750px) {
    .uniroomtime{display:none}
    .uniroomgrid{display:block}
    .chart-container{width:100%; height:70vh}
}

@media (max-width:520px) {
    .dpv_ytemb{margin:0.5em 0; width:calc(100% - 2em)}
    .dpv_carrier{display:block}
    .courses_specific_close > button, .courses_specific_close > button > img {width:2.75em;height:2.75em}
    #courses_detail_content .edge2edge, #courses_detail_content .edge2edge_page{padding:1em}
    .titlecard_titleblock{display: flex; width:100%; margin-bottom: 1em;}
    .titlecard_subtitleblock{flex-grow: 1;}

    #mdigbtn form{width:0}
    #fdigbtn{top:1.1em;top:calc(1.1em + env(safe-area-inset-top))}
    #digbtn, #mdigbtn{right:1.5em;padding:0.5em;top:0;left:calc(100% - 2rem - 2.55em);box-shadow:0 0.2em 0.3em rgba(0,0,0,.2);padding-top:1.75em;padding-top:max(1.75em, calc(0.5em + env(safe-area-inset-top)));border-radius:0 0 0.5em 0.5em}
    #digbtn form input, #figbtn form input{margin-left:0.75em;width:calc(100% - 0.75em)}
    #digbtn:hover, #digbtn:active, #digbtn:focus, #digbtn:focus-within, #mdigbtn:hover, #mdigbtn:active, #mdigbtn:focus, #mdigbtn:focus-within{left:0;right:0;top:0;border-radius:0;padding:0.75em;padding-top:1.75em;padding-top:max(1.75em, calc(0.5em + env(safe-area-inset-top)));box-shadow:0 0.4em 0.8em rgba(0,0,0,.3)}
    #digbtn:hover form, #digbtn:active form, #digbtn:focus form, #digbtn:focus-within form, #mdigbtn:hover form, #mdigbtn:active form, #mdigbtn:focus form, #mdigbtn:focus-within form{width: calc(100% - 2rem)}
    #mdigbtn{margin:0;width:auto;border-bottom:none;position:absolute;backdrop-filter:blur(1em);-webkit-backdrop-filter:blur(1em)}
}